@{
    ViewData["Title"] = "Home Page";
}

@model BankZdjecOlsztyn.ViewsModels.HomeViewsModel


<h2 class="col-12">@Model.Tytul</h2>

@foreach (var miejsce in Model.Miejsca)
{

    <div class="col-sm-6 col-lg-4">
        <h3>@miejsce.Id</h3>
        <h3>@miejsce.Nazwa </h3>
        <h4>@miejsce.Opis</h4>
        

    </div>
}
