<h2>My Map</h2>
<div id="map" class="map col-12"></div>
<script type="text/javascript">
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([20.4538, 53.7547]),
            zoom: 11
        })
    });
</script>



