* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-bg{
    background-color:#106269;

}
body {
    padding-top: 30px;
    padding-bottom: 20px;
    background: #edece4;
}
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

#navbarSupportedContent {
    z-index: 9999;
}


.collapse:not(.in) {
    display: none
}

.collapse.in {
    display: block
}