* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top:30px;
    padding-bottom:20px;
    background:#8eddf2;
}
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1000px) {
    .navbar-collapse.collapse:not(.in) {
        display: none !important;
    }
}

#navbarSupportedContent {
    z-index: 9999;
}

.in{
    height:120px;
}