* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top:30px;
    padding-bottom:20px;
    background:#8eddf2;
}
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}



#navbarSupportedContent {
    z-index: 9999;
}